.idea/
build/
node_modules/
*.iml
.DS_Store
.DS_Store?
*.sublime-project
*.sublime-workspace
.eslintcache

# Python
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
.pytest_cache/
speedrun.db